<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="ReportListener.ExtentReportListener" />
	</listeners>
	<test thread-count="5" name="Prueba Tecnica Web">
		<classes>
			<class name="com.QSTestNG.CargaHome"></class>
			<class name="com.QSTestNG.Busqueda"></class>
  			<class name="com.QSTestNG.SeleccionArticulo"></class>
			<class name="com.QSTestNG.ContinuarCompra"></class>
			<class name="com.QSTestNG.AgregaCarrito"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
